*{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  /*font-family: "Lekton","HelveticaNeue","Helvetica Neue",sans-serif;*/
  letter-spacing: 0.085em;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1 { 
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 { 
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 { 
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 { 
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 { 
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

ul {
  list-style-type: none;
}

nav li:first-child {
  border-right: 1px solid #f0ad4e;
  padding-right: 8px;
}

a {
  text-decoration: none;
}

.float-right {
  float: right;
}

.clear {
  width: 100%;
  clear: both;
}

.clear-fix {
  overflow: auto;
  zoom: 1;
}

.app-container {
  text-align: center;
}

.title {
  text-align: center;
}

.header-container {
  width: 900px;
  margin: 0px auto;
  font-size: 13px;
  text-align: center;
}

.header-container h1 {
  font-size: 3.5em;
}

.phrase {
  text-align: center;
}

.access-container {
  padding: 30px;
  width: 430px;
}

.dropdown-menu {
  top: 60px;
}

.input-container {
  margin: 15px 0px;
}

.searchbar-container {
  width: 475px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.detail-container {
  width: 1000px;
  margin: 0 auto;
}

.restaurant-detail {
  width: 40%;
  float: left;
}

.details {
  line-height: 1.75;
  text-align: left;
}

.google-maps {
  margin: 0 auto;
  width: 800px;
}

.map-container {
  width: 50%;
  float: right;
}

.area-container {
  margin: 0 auto;
  width: 900px;
  margin-top: 35px;
  border-top: 1px solid #a0a0a0;
}

.yelp-img {
  float: left;
  width: 170px;
  height: 170px;
  position: relative;
  top: 15px;
}

.overview {
  width: 675px;
  float: right;
  text-align: left;
  font-size: 12px;
}

.overview h4 {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.overview ul {
  position: relative;
  right: 50px;
}

.overview ul li {
  line-height: 1.80em;
}

.category-container {
  border: 2px solid #0275d8;
  padding: 15px 5px;
  border-radius: 10px;
}

.category-container img {
  width: 170px;
  height: 110px;
  margin-top: 5px;
}

.map-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-container {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -90px;
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  border: 1px solid #429ef4;
}

.nav-item {
  margin: 3px;
  padding: 2px;
}

.nav-item a {
  color: #a0a0a0;
}

.nav-item a:hover {
  color: #f0ad4e;
}

.search-btn {
  background-color: #f0ad4e;
}

.search-btn:hover {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: #333;
}

.favorites-captions {
  text-align: left; 
}

.favorites-captions ul {
  padding-left: 0px;
}

.favorites-captions ul li {
  margin: 2px;
}

.form-container {
  width: 255px;
  padding: 0px 25px 50px;
}

.login-container, .register-container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
}

.link-string {
  font-size: 12px;
  text-align: center;
}

.review-list-container {
  width: 860px;
  margin: 0 auto;
}